* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg");
  background-size: cover; /* Ajusta a imagem ao tamanho da tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
}

.barra-fixa {
  position: fixed; /* Fixa a barra no topo */
  top: 0; /* Coloca a barra no topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Largura total da tela */
  background-color: #7c7c7c2b(0, 0, 0, 0.7); /* Fundo semitransparente */
  display: flex; /* Usado para alinhar a logomarca */
  justify-content: center; /* Centraliza horizontalmente */
  padding: 10px 0; /* Espaçamento interno */
  z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}

.logo {
  max-width: 250px; /* Largura máxima da logomarca */
  height: auto; /* Mantém a proporção */
}

.caixa-maior {
  max-width: 450px;
  background-color: black;
  opacity: 0.8;
  border-radius: 25px;
  padding: 20px;
  width: 95%;
  text-align: center;
  margin-top: 80px; /* Espaço para a barra fixa */
}

.input-cidade {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 24px;
  font-size: 20px;
  background-color: #7c7c7c2b;
  color: #fff;
  width: calc(100% - 100px);
}

.botao-buscar {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #7c7c7c2b;
  cursor: pointer;
  float: right;
}

.caixa-media {
  margin-top: 30px;
}

.cidade {
  color: #fff;
  font-size: 27px;
  font-weight: 300;
}

.temp {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.caixa-menor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.texto-previsao {
  color: #fff;
  margin-left: 20px;
  text-transform: capitalize;
}

.umidade {
  color: #fff;
  margin-top: 30px;
}
